html, body{
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;

}


body{
    background-color: black;
    -ms-overflow-style: none; 
    scrollbar-width: none; 
    padding: auto;
    

}
body::-webkit-scrollbar{
    display: none;
}

/* ..............................NAVBAR................... */
nav {
    margin: 0.3rem;
    display: grid;
    
    grid-template-columns: 1fr 1fr 2fr ; 
    /* <---change for Responsive ---> */

    grid-template-rows: 1fr;
    min-height: 18vh;
    text-decoration: none;
}
#navDiv{
    display: grid;
    grid-template-columns: 1fr ;
}


#annitials {
    z-index: 100;
    font-family: 'Libre Barcode 128 Text', cursive;
    font-size: 6rem;
    text-decoration: none;
    justify-self: center;
    align-self: center;
    position: fixed;
    margin-top: 23px;
    left: 3%;
    color:transparent;
    background-image: linear-gradient( to right, #40a832, #32a879,#3232a8,#7932a8,#a83234,#40a832, #32a879,#3232a8,#7932a8,#a83234,#a83234 ,#40a832, #32a879,#3232a8,#7932a8);
    background-clip: text;
    -webkit-animation: glow 8s ease-in-out infinite alternate;
    -moz-animation: glow 8s ease-in-out infinite alternate;
    animation: glow 8s ease-in-out infinite alternate;
    -webkit-background-clip: text;
    background-size: 300%;
    background-position: -100%;
    animation: annitialsText 400ms infinite alternate-reverse;
}

@keyframes annitialsText{
    from{
        background-position: 0%;
    }to{
        background-position: 100%;
    }
    from {
        text-shadow: 0 0 5px #40a832, 0 0 6px #32a879, 0 0 7px #3232a8, 0 0 5px #7932a8, 0 0 6px #a83234, 0 0 7px #40a832, 0 0 16px #32a879;
      }
      to {
        text-shadow: 0 0 5px #40a832, 0 0 6px #32a879, 0 0 7px #3232a8, 0 0 5px #7932a8, 0 0 7px #a83234, 0 0 6px #40a832, 0 0 px #32a879;
      }
    } 
    


#navLinks{
    z-index: 2;
    grid-column: 3;
    justify-self:end;
    align-self: center;
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    margin-right: 2em;
    
}
#navLinks > a {
    text-decoration: none;
    color: snow;
    font-size: 1.5rem;
    margin-left: 1rem;
    margin-left: 1em;
}
#navLinks > a:hover{
    text-decoration: none;
    color: snow;
    font-size: 1.5rem;
    border-bottom: 1px solid transparent;
    border-image:  linear-gradient( to right, #40a832, #32a879,#3232a8,#7932a8,#a83234,#40a832, #32a879,#3232a8,#7932a8,#a83234,#a83234 ,#40a832, #32a879,#3232a8,#7932a8);
    border-image-slice: 1;
}

@keyframes borderbottom{
    from{
        background-position: 0%;
    }to{
        background-position: 100%;
    }
}
/* ...............................HOME SECTION>................................ */

#home{
    height: 82vh; 
    /* home section and navbar Equate to 100vh */
    display: grid;
    justify-self: center;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin: auto 0;
}

#myface{
    border-radius: 50%;
    grid-column: 1/3;
    grid-row: 1/3;
    justify-self: center;
    align-self: center;
    width: 27rem;
    right: 1em;
    position: relative;
    bottom: 1em;
}
#home > p{
    z-index: 5;
    color: wheat;
    grid-row: 2;
    grid-column: 2/4;
    justify-self: center;
    align-self: center;
    font-family: 'Cedarville Cursive', cursive;
    font-size: 1.5rem;
}
.navbar{
    display: none;
}
 /* ARROW */
.center-con{
    height: 30px;
    align-items: center;
    justify-content:center ;
    justify-self: center;
    margin-top: 5em;
}

.round{
    position: relative;
    border:3px solid #fff;
    width: 100px;
    height: 100px;
    border-radius: 100%;
}
.spln{
    z-index: 999;
    height: 3px;
    margin: 1px;
    width: 30px;
    background: #fff;
    transition: 0.4s;
    color:transparent;
    background-image: linear-gradient( to right, #40a832, #32a879,#3232a8,#7932a8,#a83234,#40a832, #32a879,#3232a8,#7932a8,#a83234,#a83234 ,#40a832, #32a879,#3232a8,#7932a8);
    background-clip: text;
}

.spln:first-child{
    display: block;
    position: absolute;
    transform: rotate(45deg);
    left:25%;
    bottom:35%;  

}

span:nth-child(2) {
    display: block;
    position: absolute;
    transform: rotate(-45deg);
    left: 45%;
    bottom: 35%;
}

span:nth-child(3) {
    display: block;
    position: absolute;
    transform: rotate(45deg);
    left: 25%;
    bottom: 54%;
}

span:nth-child(4) {
    display: block;
    position: absolute;
    transform: rotate(-45deg);
    left: 45%;
    bottom: 54%;
}

.round:hover span:nth-child(1) {
    transform: rotate(-135deg);
}

.round:hover span:nth-child(2) {
    transform: rotate(135deg);
}

.round:hover span:nth-child(3) {
    transform: rotate(225deg);
}

.round:hover span:nth-child(4) {
    transform: rotate(-225deg);
}
.socials > img{
    position: relative;
    width: 2rem;
}
#socialMedia {
    grid-column: 3;
    grid-row: 3/4;
    margin-top: -3em;
    justify-self: end;
    
}



/* ABOUT ME PAGE */
#about_me{
    display:grid;
    grid-template-columns: 1fr 4fr 1fr;
    margin-top: 25rem;
    height: 100vh;
}
#about_me > p{
    grid-column: 2;
    padding-top: 5em;
    color:#fff;
    font-size: 2em;
    font-family: 'Montserrat', sans-serif;
}
p{
    font-size: 11px;
}

/* 
PROJECTS PAGE */


#projects{
    height: 130vh;
    padding: 10%;
}


#PCbake{
    width: 60%;
    margin-bottom: 8% ;
    border-radius: 1%;
}
#PhoneBake{
    width: 22%;
    margin-left: 3%;
    border-radius: 5%;
}
#projectArrow{
    position: relative;
    left:90%;
    margin-top: -55%;
}

#git{
    color: white;
    margin-top: 75vh;
    font-family: 'Roboto', sans-serif;
    font-size: 1.4rem;
    text-align: center;
}
#gitSec{
    margin-bottom: 15%;
}
#gitimg{
    margin-left: 33%;
}


/* CONTACT */
#Contact-con{
    display: grid;
    grid-template-columns: repeat(3, 33%);
    background-color: #fff;
    height: 30vh;
}
#callMe{
    color: #fff;
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 2%;
    font-family: 'Lobster', cursive;
}
#contactcont{
    grid-column: 2/3;
    margin:  auto;
}





/* ///////////////////////////////////////Media  */
@media only screen and (max-width: 1366px){
    #arrow_about_me{
        position: relative;
        top:800px;
    }
    #myface{
        width: 26rem;
    }
}
@media only screen and (max-width: 1300px) {
   
    #home > p{
        color: wheat;
        grid-row: 3;
        grid-column: 1/4;
        justify-self: center;
        align-self: center;
        font-family: 'Cedarville Cursive', cursive;
        font-size: 1.5rem;
        text-align: center;
        margin-top: -15rem;
    }
    #annitials{
        font-size: 4rem ;
    }
    #myface{
        border-radius: 50%;
        grid-column: 1/4;
        grid-row: 1/3;
        justify-self: center;
        align-self: center;
        width: 21rem;
        left:10px;
        margin-top: -9em;
    }
   
    
    #navLinks{
        display: none;
    }
    .navbar{
        background-color: transparent;
        overflow: hidden;
        height: 63px;
        display: grid;
        grid-template-columns: 1fr;
        width: 100vw;
        position: absolute;
        z-index: 1000;
    }
    
    .navbar  a{
        float: right;
        margin-right: 2rem;
        margin-top: 1.3rem;
        display: block;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
    }


    svg.line{
        padding: 2px;
        height: 3em;
    }
    
    .navbar ul{
    
        padding: 8px 0 0 0;
        list-style: none;
    }
    
    svg.line > path :hover{
        color: gray;
        
    }
    
    .side-nav{
        height: 100%;
        width:0;
        position: fixed;
        z-index: 1;
        top: 0;
        right: 0;
        background-color: white;
        opacity: 0.9;
        overflow-x: hidden;
        padding-top: 60px;
        transition: 0.5s;
    }
    
    .side-nav a{
        padding:10px 10px 10px 30px;
        text-decoration: none;
        font-size: 22px;
        color: black;
        display: block;
        transition: 0.5;
    }
    
    .side-nav a:hover{
        background-color:white;
        border-bottom: 2px solid transparent;
        border-image:  linear-gradient( to right, #40a832, #32a879,#3232a8,#7932a8,#a83234,#40a832, #32a879,#3232a8,#7932a8,#a83234,#a83234 ,#40a832, #32a879,#3232a8,#7932a8);
        border-image-slice: 1;
    
    }
    
    .side-nav .btn-close{
        position: absolute;
        top:0;
        right:22px;
        font-size: 36px;
        margin-left: 50px;
    }
    .center-con{
        height: 30px;
        align-items: center;
        justify-self:center;
        margin-top: -7em;
    }
    .round{
        position: relative;
        border:3px solid #fff;
        width: 80px;
        height: 80px;
        border-radius: 100%;
        align-items: center;
        justify-self:center;
        left: 6vw;
    }
    .spln{
        z-index: 999;
        height: 2.4px;
        margin: 1px;
        width: 24px;
        background: #fff;
        transition: 0.4s;
        color:transparent;
        background-image: linear-gradient( to right, #40a832, #32a879,#3232a8,#7932a8,#a83234,#40a832, #32a879,#3232a8,#7932a8,#a83234,#a83234 ,#40a832, #32a879,#3232a8,#7932a8);
        background-clip: text;
    }

 
}

@media only screen and (max-width: 1280px){
    #arrow_about_me{
        position: relative;
        top:800px;
    }
    #myface{
        width: 27rem;
    }
}

@media only screen and (max-width: 401px){
    
    body{
        max-width: 100vw;
    }


    .center-con{
        padding-left: 35vw;
        height: 20px;
        grid-column: 1/4;
        justify-self: center;
        position: relative;
        justify-items: center;
        
    }
   
    #socialMedia {
        grid-column: 1/4;
        grid-row: 3;
        justify-items: center;
    }
    .round{
        border:1px solid #fff;
        
    }
    #home > p{
        color: wheat;
        grid-row: 3;
        grid-column: 1/4;
        justify-self: center;
        align-self: center;
        font-family: 'Cedarville Cursive', cursive;
        font-size: 1.5rem;
        text-align: center;
        margin-top: -19rem;
    }
    #about_me{
        grid-template-columns: none;
        margin-top: 25rem;
    }
    #about_me > p{
        font-size: 1em;
        line-height: 26px;
        grid-column: 1/3;
        padding-left: 25px;
        padding-right: 25px;
        justify-self: center;
    }
    #myface{
        width:12rem;
    }
    #arrow_about_me{
        margin-top: -45rem;
    }
}



@media only screen and (max-width: 361px){
    
    body{
        max-width: 100vw;
    }
    #gitimg {
        margin-left: 3%;
        width: 20rem;
    }
    .conImg{
       width:20px;
       margin-left: 12px;;
    }
    #Contact-con{
        width: 100vw;
    }
    p{
        font-size: 2rem;
    }

    
    
    .side-nav {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        right: 0;
        background-color: white;
        opacity: 0.9;
        overflow-x: hidden;
        padding-top: 60px;
        transition: 0.5s;
        margin-right: -10%;
    }


    .center-con{
        padding-left: 35vw;
        height: 20px;
        grid-column: 1/4;
        justify-self: center;
        position: relative;
        justify-items: center;
        
    }
   
    #socialMedia {
        grid-column: 1/4;
        grid-row: 3;
        justify-items: center;
    }
    .round{
        border:1px solid #fff;

    }

    #myface {
        width:18rem;
        left: -25px;
    }
    #home > p{
        color: wheat;
        grid-row: 3;
        grid-column: 1/4;
        justify-self: center;
        align-self: center;
        font-family: 'Cedarville Cursive', cursive;
        font-size: 12px;
        text-align: center;
        margin-top: -18rem;
        margin-left: -5px;
    }
    #projectArrow{
        position: relative;
        left:90%;
        margin-top: -55%;
        left: -41%;
        top: -450px;
    }
    #contactArrow{
        top: 89vh;
    }
    #PCbake{
        padding-top: 60px;
        width: 117%;
        margin-bottom: 8% ;
        border-radius: 1%;
        margin-left: -7%;
    }
    #PhoneBake{
        width: 60%;
        margin-left: 3%;
        border-radius: 5%;
    }

    #contactArrow{
        margin-left: 31%;
    }
}
/* SMALL PHONES */
